*{
    padding: 0;
    margin: 0;
    font-family: 微软雅黑;
}

.headBar{
    max-height: 123px;
    padding: 0;
    background: #DF385F;
}

.headBar div{
    padding: 0;
}

.indexContent{
    padding-top: 109px;
    background: #fff ;

}

.indexContent .banner-bg{
    padding: 0;
    /*background-image: url('../../../images/home/index/bg1.jpg');
    background-repeat:no-repeat ;
    background-position: center;
    background-size: 100% 100%;*/
}

/*---------------------导航栏---------------------*/
#navbar{
    color: #777;
    background: rgba(255,255,255,0.9);
    height: auto;
    /*background-image: url("../../../images/home/index/nav.png");*/
}

#navbar a{
    color: #333;
}

#nav{
    height: 50px;
    font-size: 16px;
}

/*#ul .m-drop{
    border:none;
    box-shadow: none;
    background: rgba(255,255,255,1);
}*/

#ul{
}

#ul .m-drop li a{
    text-align: center;
    line-height: 30px;
}

#ul li a:hover{
    color: #fff;
    border-radius: 5px;
    background: none;
}

#ul li a.sta{
    color: #fff;
    border-radius: 5px;
}

#ul a.navC{
    color: #666;
    border-radius: 5px;
}

#ul a.navC:hover{
    color: #fff;
    border-radius: 5px;
}

#ul li a div.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}

#ul li a:hover div.line{
    animation: line 0.5s linear ;
}
@keyframes line {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}


#navBut {
    margin-top: 13px;
    margin-right: 15px;
}

#navBut span{
    background: #666;
}

#logo{
    font-size: 26px;
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    float: left;
}

#logo img{
    width: 100%;
    height: 100%;
}

.searchBar{
    padding: 0;
}

#searchBar{
    width: 100%;
    height: 40px;
    padding: 0;
    position: relative;
}
#searchB{
    width: 100%;
    height: 40px;/*2F9F6D*/
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
    padding: 0 50px 0 15px;
}
#searchB:focus{
    border-bottom:2px solid #DF385F;
}

#souI{
    position: absolute;
    top:5px;
    right: 10px;
    color: #666;
    font-size: 30px;
    display: block;
    width: 40px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

#souI:hover{
    color: #2F9F6D;
}

/*--------------------------------登录购物车--------------------*/

.personBar{
    height: 68px;
    background: #ffffff;
}

.personBar div{
    padding: 0;
}

.loginActionBars{
    height: 40px;
    z-index: 9999;
    margin-top: 22px;
}

#loginBar{
    height: 40px;
    padding: 0;
}
#loginBar div{
    padding: 0;
}
#loginBar a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
#loginBar .barL{
    height: 40px;
}
#loginBar div {
    position: relative;
}
#loginBar div img{
    cursor: pointer;
    width: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -20px;
}
#loginBar div img:hover{
    box-shadow: 0 0 3px #DF385F;
}

#loginBar #buyNumber{
    position: absolute;
    color: #fff;
    padding: 3px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background: red;
    border-radius: 50%;
    right: 5px;
    top:10px;
}

.loginB{
    top:-50px;
    right: 100px;
}

/*-----------------------------购物车------------------*/

#buyCar{
    display: none;
    position: relative;
    float: right;
    width: 100%;
    margin-top: 25px;
    box-shadow: 0 0 5px #999;
    height: auto;
    background: #fff;
    border-radius: 10px;
    padding-top:5px;
    padding-bottom: 15px;
}
#buyCar .tangleBox{
    position: absolute;
    right: 0;
    top: -16px;
    height: 16px;
    width: 70px;
}
#buyCar .tangle{
    position: absolute;
    right:7%;
    top: -16px;
    width: 0;
    height: 0;
    border-bottom: 16px solid #ccc;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
#buyCar .header{
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ccc;
}
#buyCar .header .left{
    line-height: 40px;
}
#buyCar .header .totalBuy{
    height: 20px;
    background: #AFDB99;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#buyCar .bottom{
    padding-left: 15px;
    padding-right: 15px;
}
#buyCar .bottom div{
    padding: 0;
}
#buyCar .bottom .line{
    height: 1px;
    background: #ccc;
    margin-top: 5px;
}
#buyCar .bottom .buyLists{
    max-height: 300px;
    min-height: 100px;
    overflow-y: scroll;
}
#buyCar .bottom .buyList{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
#buyCar .bottom .buyList .listL img{
    width: 100%;
    height: 65px;
}
#buyCar .bottom .buyList .listM .listName{
    line-height: 30px;
    color: #0256D5;
    font-size: 16px;
    padding: 0 10px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#buyCar .bottom .buyList .listM .listV{
    line-height: 20px;
    color: #999;
    padding: 0 10px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#buyCar .bottom .buyList .listR .price{
    line-height: 35px;
    text-align: center;
    color: red;
}
#buyCar .bottom .buyList .listR .del{
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: red;
    cursor: pointer;
}
#buyCar .bottom .goBuy{
    border-top: 1px solid #2F9F6D;
    line-height: 50px;
}
#buyCar .bottom .goBuy .goB{
    height: 50px;
}
#buyCar .bottom .goBuy #goTo{
    position: absolute;
    right: 0;
    top:10px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background: #30B16A;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

/*--------------------------个人中心-------------------------*/

#loginBar #myCenter{
    display: none;
    min-width: 140px;
    height: auto;
    box-shadow: 0 0 5px #666;
    background: #fff;
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px;
}

#myCenter .tangle{
    width: 0;
    height: 0;
    border-bottom: 16px solid #ccc;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top:-16px;
    left: 17%;
}

#myCenter .userImg img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #2ca02c;
    margin: 10px auto;
}

#myCenter .username{
    line-height: 30px;
    text-align: center;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}

#myCenter .barList{
    line-height: 30px;
    margin-top: 10px;
    border-radius: 3px;
    color: #999;
    cursor: pointer;
}

#myCenter .barList div:nth-child(1){
    text-align: right;
}

#myCenter .barList:hover{
    background: #eeeeee;
}

#myCenter .barList span{
    margin-right: 10px;
}

/*-------------------banner-----------------*/
#banner{
    /*padding: 0;*/
    height: auto;
}
#banner img{
    width: 100%;
}

#banner .bannerBox{
    overflow: hidden;
}

#banner .imgs{
    width: 100%;
    height: 100%;
}
/*----------minBanner-------------------*/
#minBanner{
    margin-top: 10px;
    margin-left:-9px;
    margin-right: -9px;
}

#minBanner div{
    padding: 0;
}

#minBanner .imgBox{
    padding: 0 10px 0 10px;
    margin-bottom: 15px;
}

#minBanner .imgBox img:hover{
    box-shadow: 0 0 3px #bf9d63,
    0 0 5px #bf9d63;
}


/*----------------productList----------------------*/
#productList{
    padding: 0;
    margin: 0px -10px;
}


#productList .list{
    margin-top: 10px;
}

#productList .list{
    padding: 0px 10px 0px 10px;
}

#productList .list img{
    width: 100%;
}

/*-------------------------------------------*/
/*-------------------------内容区域---------------------*/

#content{
    padding: 0;
}

/*------------------新品首发------------------*/

.newProduct{
    margin-top: 40px;
    padding: 0;
    height: auto;
}

.newProduct div{
    padding: 0;
}

#content .newT{
    line-height: 40px;
}

#content .newT .left span{
    display: block;
    float: left;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

#content .newT .left .line{
    height: 20px;
    width: 5px;
    background: #7ACDEC;
    margin-top: 10px;
}

#content .newT .right{
    text-align: right;
}

#content .newT .right a{
    color: #666;
    text-decoration: none;
}

.newProduct .newC{
    padding: 0;
    background: #fff;
}

.newProduct .newC .left{
    height: 440px;
}

.newProduct .newC .left img{
    width: 100%;
    height: 100%;
}

.newProduct .newC .right{
    height: 440px;
    overflow: hidden;
    position: relative;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.newProduct .newC .right .imgBox a{
    color: #333;
    display: block;
    width: 100%;
}

.newProduct .newC .right .imgBox {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align:center;
}

.newProduct .newC .right .imgBox img{
    display: block;
    max-width: 100%;
    max-height: 140px;
    margin: 0 auto;
}

.newProduct .newC .right .imgBox .msg{
    line-height: 30px;
    float: left;
    width: 100%;
}

.newProduct .newC .right .imgBox .msg div{
    width: 100%;
    text-align: center;
    height: 30px;
}

.newProduct .newC .right .imgBox .msg .goodsName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px 0 10px;
}

.newProduct .newC .right .imgBox .msg .price{
    color: red;
}

.newProduct .newC .right .swiper-button-prev{
    background: #ccc;
    font-size: 30px;
    color: #fff;
    line-height: 44px;
    text-align: center;
}

.newProduct .newC .right .swiper-button-next{
    background: #ccc;
    font-size: 30px;
    color: #fff;
    line-height: 44px;
    text-align: center;
}

/*------------------------*/


/*------------------------------------navBottom---------------------------------*/

.navBottom{
    background: #fff;
    color: #333;
    line-height: 40px;
    padding: 0;
}



.navBottom .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.navBottom .introduction{
    line-height: 30px;
    min-height: 160px;
}

.navBottom .navBot {
    margin-top: 50px;
    border-top: 2px solid #DF385F;
}

.navBottom .navBot div div a{
    text-decoration: none;
    color: #333;
}


.navBottom .navBot div.box{
    padding-left: 44px;
}
.navNum a{
	color: #fff;
}

.navBottom .navNum{
    color: #fff;
    line-height: 50px;
    text-align: center;
    background: #F5C3CF;
}

.productBanner{
    padding: 0;
    margin-top: -40px;
}

#scrollBox{
    position:fixed;
    width: 50px;
    height: auto;
    top: 45%;
    right: 6%;
    background: #DF385F;
    border-radius: 5px;
}

#scrollBox .sbox{
    width: 40px;
    height: auto;
    margin: 5px 5px;
    border-bottom: 1px solid #fff;
    position: relative;
    cursor: pointer;
}

#scrollBox .sbox .content{
    width: 80px;
    position: absolute;
    left: -80px;
    top: 0;
    height: 40px;
    background: #DF385F;
    color: #fff;
    text-align: center;
    line-height: 40px;
    display: none;
}

#scrollBox .sbox:hover > .content{
    display: block;
}

#scrollBox div:last-child{
    border-bottom: none;
}

#scrollBox div img{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

#scrollBox #fcode {
	width: 100px;
	height:100px;
}

#qrcode{
    position: absolute;
    left: -40px;
    width: 60px;
    height: 60px;
    top: -29px;
    background: #fff;
    box-shadow: 0 0 3px #666;
}

/*-----------------------手机样式调整----------------------*/

@media (max-width: 767px) {
    .headBar{
        max-height: 100%;
    }
    #nav{
        top: -20px;
    }
    .headBar{
        /*height: 102px;*/
    }
    #ul{
        /*background: #999;*/
    }
    #ul a.navC{
        color: #fff;
    }
    #ul .m-drop{
        width: 100%;
        float: left;
        position: relative;
        box-shadow: none;
        border: none;
        background: none;
        background: rgba(0,0,0,0.4);
    }
    #ul .m-drop li a{
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        color: #fff;
    }

    .indexContent{
        padding-top: 184px;
    }

    #ul li a div{
    }
    #logo{
        position: absolute;
        top: -34px;
    }
    #banner{
        margin-top: 0;
    }

    #saleProduct .saleContent .right{
        height: auto;
    }

    .contentBox .contentCls .right .proBox{
        width: 50%;
    }

    #minBanner .imgBox{
        padding: 0 15px 0 15px;
    }

    #minBanner .imgBox:first-child{
        padding: 0 15px 0 15px;
    }

    #minBanner .imgBox:last-child{
        padding: 0 15px 0 15px;
    }

    #productList .list:first-child{
        padding:0 15px 0 15px;
    }

    #productList .list:last-child{
        padding:0 15px 0 15px;
    }
}





