#rightContent .basicList .rigg input[type='password']{
    height: 40px;
    min-width: 150px;
    max-width: 200px;
    outline: none;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}

#rightContent .basicList .rigg input[type='password']:focus{
    border: none;
    box-shadow: 0 0 5px #50E8A7;
}

#rightContent .confirmChange .rigg .message{
    left: 0;
    top:-20px;
    color: #FF6666;
}