

.protectContent{
    padding: 20px;
    background: #F2F6F5;
}

.protectContent .lle{
    padding: 0;
}

.protectForm{
    padding: 20px;
    background: #fff;
}

.protectForm div{
    padding:0;
}

.protectForm .formTitle{
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    border-bottom: 1px solid #bf9d63;
    padding-bottom: 15px;
}

.protectForm .formList{
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom:1px dashed #999;
}

.protectForm .formList .questionT{
    line-height: 40px;
    font-size: 16px;
}

.protectForm .formList .questionL{
    line-height: 30px;
}

.protectForm .formList .questionL input[type=radio]{
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    margin: 5px 0 5px 0;
    padding: 0;
    background-color: #cfcfcf;
    border-radius: 100%;
    vertical-align: top;
}

.protectForm .userPhone{
    margin-top: 15px;
    line-height: 40px;
    font-size: 16px;
}

.protectForm .userPhone input{
    padding: 0 15px 0 15px;
    height: 35px;
    margin-top: 5px;
    border: 1px solid #999;
    border-radius: 5px;
}

.protectForm .userPhone input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
}
/*火狐浏览器*/
.protectForm .userPhone input[type="number"]{
    -moz-appearance:textfield;
}

.protectForm .userPhone input:focus{
    outline: none;
    border: 1px solid #bf9d63;
    box-shadow: 0 0 5px #bf9d63;
}

.protectForm .userPhone .codeBox{
    padding-right: 15px;
    margin-bottom: 15px;
}

.protectForm .userPhone .imgBox{
}

.protectForm .userPhone .imgBox img{
    height: 40px;
    max-width: 120px;
    box-shadow: 0 0 5px red;
}

.butBox{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#but{
    width: 100px;
    height: 40px;
    line-height: 40px ;
    text-align: center;
    background: #bf9d63;
    color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


