
/*---------------------banner--------------------*/
/*---------------------content---------------------*/
.newsContent{
    background: #fff;
    padding: 0;
}

.newsContent .lle{
    padding: 0;
}

.newsContent .lle div{
    padding: 0;
}

.newsContent .lle .leftContent{
    margin-top: 20px;
    background: #fff;
    padding-right: 20px;
}

.newsContent .leftContent .leftBanner img{
    width: 100%;
}

.newsContent .leftContent .leftLists{
    padding: 20px 15px 20px 0;
    border-bottom: 1px solid #999;
    margin-top: 5px;
}

.newsContent .leftContent .leftLists:hover{
    box-shadow: 0 0 5px #DF385F;
}

.newsContent .leftContent .leftLists a{
    color: #333;
    text-decoration: none;
}

.newsContent .leftContent .leftLists .imgBox{
    padding-right: 15px;
}

.newsContent .leftContent .leftLists .imgBox img{
    width: 100%;
}

.newsContent .leftContent .leftLists:hover .imgBox img{
    box-shadow: none;
}

.newsContent .leftContent .leftLists .msgBox .bigTit{
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
}

.newsContent .leftContent .leftLists .msgBox .times{
    font-size: 12px;
    color: #999;
    line-height: 30px;
}

.newsContent .leftContent .leftLists .msgBox .msgCon{
    line-height: 25px;
}

.newsContent .leftContent .leftPage #navBars{
}

.newsContent .leftContent .leftPage #pageNag{
    margin: 20px auto;
    display: block;
}

#pageNag a{
    color: #F5C3CF;
}

#pageNag li.active a{
    background: #F5C3CF;
    color: #fff;
    border-color: #F5C3CF;
}


.newsContent .rightContent{
    margin-top: 20px;
    background: #fafafa;
}

.newsContent .rightContent div{
    padding: 0;
}

.newsContent .lle .rightContent .rightTit{
    margin-top: 20px;
    line-height: 30px;
    padding-left: 15px;
}

.newsContent .rightContent .rightTit .line{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: #F5C3CF;
}

.newsContent .lle .rightContent .rightList{
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.newsContent .lle .rightContent .rightList .imgBox img{
    width: 100%;
}

.newsContent .lle .rightContent .rightList .msgBox{
    padding-left: 10px;
}





