#question{
    padding: 0;
}

#question div{
    padding: 0;
}

#question .questionContent{
    height: 1000px;
    margin-top: 30px;
}

#question .questionContent .left{
    padding-right: 15px;
}

#question .questionContent .left .barBox{
    border: 1px solid #EEE;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #666;
}

#question .questionContent .left .barBox .listBar {
    border-bottom: 1px solid #EEE;
    cursor: pointer;
}

#question .questionContent .left .barBox .listBar:hover{
    background: #eee;
    color: #DF385F;
}

#question .questionContent .left .barBox .listBar:last-child{
    border-bottom: none;
}

#question .questionContent .left .barBox .actionBar{
    background: #eee;
    color: #DF385F;
}

#question .questionContent .right{
    padding-left: 15px;
}

#question .rightContent{
    box-shadow: 0 0 3px #ccc;
    padding: 10px 20px 20px 40px;
}

#question .rightContent .title{
    line-height: 50px;
    border-bottom: 1px dashed #ccc;
    font-size: 16px;
}

#question .rightContent .questionList{
    line-height: 30px;
    margin-top: 20px;
}

#question .rightContent .questionList .answer{
    line-height: 25px;
    color: #999;
    padding-left: 12px;
}