
/*---------------------banner--------------------*/
.productBanner{
    padding: 0;
    margin-top: -40px;
}
/*-------------------content--------------------*/

#product{
    padding: 0;
}

#product .productTitle{
    line-height: 50px;
    height: 50px;
    font-size: 16px;
}

#product .productTitle a{
    text-decoration: none;
    color: #333;
}

#product .productTitle a:nth-child(2){
    color: #666;
}

#product .productTitle a:nth-child(3){
    color: #DF385F;
}
/*----------------------productBar----------------*/

#product .productBar{
    margin-top: 20px;
    margin-bottom: 20px;
}

#product .productBar .btnBox{
    line-height: 50px;
    text-align: center;
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #666;
}

#product .productBar .btnBox a{
    color: #666;

}

#product .productBar .btnBox div{
    cursor: pointer;
    padding: 0;
}

#product .productBar .btnBox div:hover{
    color: #DF385F;
    border-bottom: 2px solid #DF385F;
}

#product .productBar .btnBox div.actionBar{
    color: #DF385F;
    border-bottom: 2px solid #DF385F;
}

/*----------------productList----------------------*/

#product .productLists{
    padding: 0;
}

#product .productLists .productBox{
    padding: 0 10px 0 10px;

}

#product .productLists .productList{
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #fff;

}

#product .productLists .productList:hover{
    border: 1px solid #FF0EA7;
}

#product .productLists .productList img{
    width: 100%;
    float: left;
    height: 290px;
}

#product .productLists .productList .msgPro{
    color: #333;
    padding: 0;
}

#product .productLists .productList .msgPro div{
    padding: 0;
}

#product .productLists .productList .msgPro .title{
    line-height: 30px;
    max-height: 30px;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#product .productLists .productList .msgPro .price{
    line-height: 25px;
}

#product .productLists .productList .msgPro .price span{
    margin-right: 5px;
    color: #FF0EA7;
}

#product .productLists .productList .msgPro .price .high{
    text-underline-style: dotted;
    color: #999;
    font-size: 12px;
    text-decoration: line-through;
}

#product .productLists .productList .msgPro .price .hot{
    border: 1px solid orange;
    color: orange;
    padding: 0 5px 0 5px;
    font-size: 12px;
}

/*---------------------enjoyProduct--------------*/
#product .enjoyProduct{
    line-height: 40px;
    margin-top: 30px;
    padding: 0;
}
#product .enjoyProduct div{
    padding: 0;
}
#product .enjoyProduct .enjoyTitle .left span{
    display: block;
    float: left;
    margin-left: 10px;
    font-size: 16px;
}
#product .enjoyProduct .enjoyTitle .left .line{
    width: 5px;
    height: 20px;
    margin-top: 10px;
    background: #F19EC2;
}

/*---------------------------------------*/
@media (max-width: 768px) {
    #product .productBar{
        padding: 0;
    }
    #product .productBar .pls{
        padding: 0;
    }
}