li{
    list-style: none;
}
.productBar{
    /*margin-top: 15px;*/
    line-height: 30px;
    padding: 10px 0 10px 0;
}

/*----------------productInfo------------------*/
.productBanner{
    padding: 0;
    margin-top: -40px;
}

.productInfo{
    /*padding: 15px 0 20px 0;*/
}

.productInfo .lle{
}

.productInfo .proLef {
    margin-top: 15px;
    padding: 15px;
    height: auto;
    background: #fff;
}

.productInfo .proLef .view{
    padding: 0;
}

.productInfo .proLef .view .swiper-container {
     width: 100%;
     height: 500px;
 }

.productInfo .proLef .view .swiper-container .swiper-slide img{
    width: 100%;
    height: 100%;
}

.productInfo .proLef .view .arrow-left {
    background: url(../../../images/home/index_tab_l.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -25px;
    width: 28px;
    height: 51px;
    z-index: 10;
}

.productInfo .proLef .view .arrow-right {
    background: url(../../../images/home/index_tab_r.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -25px;
    width: 28px;
    height: 51px;
    z-index: 10;
}

.productInfo .proLef .preview {
    width: 100%;
    margin-top: 10px;
    padding: 0;
}

.productInfo .proLef .preview .swiper-container {
    width: 100%;
    padding: 0 25px 0 25px;
    height: 82px;
}

.productInfo .proLef .preview .swiper-slide {
    max-width: 87px;
    height: 82px;
    cursor:pointer;
}

.productInfo .proLef .preview .slide6 {
    width: 82px;
}

.productInfo .proLef .preview .arrow-left {
    background: url(../../../images/home/feel3.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -9px;
    width: 9px;
    height: 18px;
    z-index: 10;
}

.productInfo .proLef .preview .arrow-right {
    background: url(../../../images/home/feel4.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -9px;
    width: 9px;
    height: 18px;
    z-index: 10;
}

.productInfo .proLef .preview .swiper-slide img {
    width: 82px;
    height: 82px;
    padding: 1px;
}

.productInfo .proLef .preview .active-nav img {
    padding: 0;
    border: 1px solid #F00;
}


/*---------------------*/

.productInfo .proRig{
    margin-top: 15px;
    padding-right: 0;
}

.productInfo .proRig .proRigBox{
    height: auto;
    background: #fff;
    padding-bottom: 15px;
}

.productInfo .proRig .rigTit{
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #444;
}

.productInfo .proRig .rigPrice{
    line-height: 40px;
    margin-top: 15px;
    background: #EEEBE4;
    padding: 10px 15px 10px 15px;
}

.productInfo .proRig .rigPrice div{
    padding: 0;
}

.productInfo .proRig .rigPrice .left .llPrice{
    text-decoration: line-through;
}

.productInfo .proRig .rigPrice .right{
    text-align: right;
}

.productInfo .proRig .rigPrice .nowPrice{
    color: red;
    font-size: 22px;
}

.productInfo .proRig .rigPrice .nowMsg{
    padding: 3px 8px 3px 8px;
    background: #ECC27A;
    color: #FF3E64;
    margin-left: 10px;
}

.productInfo .proRig .rigPrice .lowTickets{
    border: 1px solid red;
    padding: 5px 10px 5px 10px;
    color: red;
    cursor: pointer;
}

.productInfo .proRig .rigNum{
    margin-top: 20px;
}

.productInfo .proRig .rigNum div{
    padding: 0;
    float: left;
    margin-right: 10px;
    line-height: 40px;
}

.productInfo .proRig .rigNum .middleN{
    width: 140px;
    position: relative;
}

.productInfo .proRig .rigNum .left{
    padding-right: 15px;
}

.productInfo .proRig .rigNum .left .productNumber{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    padding: 0 50px 0 50px;
    font-size: 18px;
    outline:none;
    color: #666;
}

.productInfo .proRig .rigNum .left .productNumber:focus{
    border: 1px solid #ECC27A;
    box-shadow: 0 0 2px #ECC27A,0 0 3px #ECC27A;
}

/*鍘婚櫎input type涓簄umber鏃� 绠ご鏍峰紡*/
/*璋锋瓕娴忚鍣�*/
.productInfo .proRig .rigNum .left input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
}
/*鐏嫄娴忚鍣�*/
.productInfo .proRig .rigNum .left input[type="number"]{
    -moz-appearance:textfield;
}

.productInfo .proRig .rigNum .left .increase{
    position: absolute;
    left: 0;
    top:0;
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 30px;
    text-align: center;
    border-right:1px solid #999;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}

.productInfo .proRig .rigNum .left .decrease{
    position: absolute;
    right: 0;
    top:0;
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 30px;
    text-align: center;
    border-left:1px solid #999;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}

.productInfo .proRig .rigNum .left .repertory{
    line-height: 40px;
    padding-left: 15px;
}

.productInfo .proRig .colorBoxs{
    margin-top: 20px;
}

.productInfo .proRig .colorBoxs div{
    padding: 0;
}

.productInfo .proRig .colorBoxs span{
    margin-right: 15px;
    line-height: 80px;
    display: block;
    float: left;
}

.productInfo .proRig .colorBoxs .colorBox{
    width: 80px;
    height: 80px;
    border: 2px solid #ECC27A;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.productInfo .proRig .spec{
    margin-top: 10px;
    line-height: 40px;
}

.productInfo .proRig .spec div{
    float: left;
    margin-right: 10px;
}

.productInfo .proRig .spec .specNum{
    width: 70px;
    line-height: 30px;
    margin-top: 5px;
    text-align: center;
    border: 2px solid #BF9D63;
    position: relative;
}

.productInfo .proRig .spec .specNum .cls{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    background: #BF9D63;
    color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0;
}

.productInfo .proRig .shareBox{
    margin-top: 20px;
}

.productInfo .proRig .shareBox div{
    float: left;
    margin-right: 25px;
    width: 80px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    color: #999;
    border-radius: 30px;
    cursor: pointer;
}

.productInfo .proRig .buyBox{
    margin-top: 20px;
    line-height: 50px;
    padding: 0;
}

.productInfo .proRig .buyBox .add{
    height: 50px;
    border: 1px solid #bf9d63;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: #666;
    border-radius: 2px;
}

.productInfo .proRig .buyBox .buyNow{
    background: #bf9d63;
    color: #fff;
}

.productInfo .proRig .serviceBox{
    margin-top: 20px;
    line-height: 40px;
    color: #999;
}

.productInfo .proRig .serviceBox img{
    max-width: 100%;
}

.productInfo .proRig .payBox{
    margin-top: 15px;
    line-height: 40px;
}
    /*--------------------productContent---------------*/

.productContent{
    background: #F5F5F5;
    padding: 0;
}

.productContent .contentLeft{
    height: auto;
    padding-left: 0;
}

.productContent .contentLeft a{
    color: #333;
}

.productContent .contentLeft .title{
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #BF9D63;
    font-size: 18px;
}

.productContent .contentLeft .lists{
    background: #fff;
    padding: 15px;
}

.productContent .contentLeft .lists div{
    padding: 0;
}

.productContent .contentLeft .lists .listBox{
    cursor: pointer;
}

.productContent .contentLeft .lists .listBox:hover{
    box-shadow: 0 0 3px #bf9d63;
}

.productContent .contentLeft .lists div img{
    width: 100%;
}

.productContent .contentLeft .lists .listName{
    margin-top: 10px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    padding: 0 5px 0 5px;
}

.productContent .contentLeft .lists .listPrice {
    padding: 0 5px 0 5px;
}

.productContent .contentLeft .lists .listPrice .price{
    font-size: 16px;
}

.productContent .contentLeft .lists .listPrice .volum{
    text-align: right;
}

.productContent .contentRight{
    background: #fff;
    height: auto;
    padding: 0;
}

.productContent .contentRight .title{
    padding: 0;
    margin-bottom: 15px;
}

.productContent .contentRight .title div{
    width: 140px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    float: left;
    cursor: pointer;
    background: #f6f6f6;
    border: 1px solid #ccc;
}

.productContent .contentRight .title div.actives{
    border: none;
    background: #fff;
}

.productContent .contentRight .title .tabs{
    position: relative;
}

.productContent .contentRight .title .tabs .line{
    width: 100%;
    height: 5px;
    background: #bf9d63;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.productContent .contentRight .title .num{
    line-height: 20px;
    margin-top: 20px;
    font-size: 12px;
    color: #999;
}

.productContent .contentRight .contentDetail div{
    padding: 0;
}

.productContent .contentRight .contentDetail .imgBox{
    margin-bottom: 15px;
}

.productContent .contentRight .contentDetail .imgBox img{
    width: 100%;
}

@media (max-width: 767px){
    .productInfo .proRig{
        padding: 0;
    }

    .productContent .contentLeft{
        padding-right: 0;
    }

    .productContent .lls{
        padding: 0;
    }

    .productInfo .lel{
        padding: 0;
    }
}